{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

<header class="main-header post-head {{#if @blog.cover}}" style="background: linear-gradient(180deg,rgba(19,106,138,.55) 30%,rgba(38,120,113,.34) 70%), url({{@blog.cover}}) no-repeat center {{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if @blog.cover}}overlay{{/if}} clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
        {{#if @blog.navigation}}
            <a class="menu-button" href="#"><span class="burger">&#9776;</span><span class="word">Menu</span></a>
        {{/if}}
        <a class="back-button" href="javascript:history.back()"><span class="word">Back</span></a>
    </nav>
</header>

<main class="content" role="main">
    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
        </header>

        <section class="post-content">
            {{content}}
        </section>

    </article>
</main>
{{/post}}
