{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! If we have a tag cover, display that - else blog cover - else nothing }}

<header class="main-header post-head {{#if @blog.cover}}" style="background: linear-gradient(180deg,rgba(19,106,138,.55) 30%,rgba(38,120,113,.34) 70%), url({{@blog.cover}}) no-repeat center {{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if @blog.cover}}overlay{{/if}} clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
        {{#if @blog.navigation}}
            <a class="menu-button" href="#"><span class="burger">&#9776;</span><span class="word">Menu</span></a>
        {{/if}}
        <a class="back-button" href="javascript:history.back()"><span class="word">Back</span></a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{tag.name}}</h1>
            <h2 class="page-description">
                {{#if tag.description}}
                    {{tag.description}}
                {{else}}
                    A {{pagination.total}} post collection
                {{/if}}
            </h2>
        </div>
    </div>
</header>

{{! The main content area on the homepage }}
<main class="content" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>
